%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{href: root_path} JPunnar
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{href: 'https://github.com/JPunnar', target: '_blank'}
          Github
      %li.nav-item.active
        %a.nav-link{href: 'https://www.linkedin.com/in/j%C3%BCri-punnar-63a542171/', target: '_blank'}
          LinkedIn
%br
