.row
  .col-md-6
    = render partial: 'weather/button'
    %br
    %br
    %iframe.bus-times{src: 'https://transport.tallinn.ee/mobile.html#bus/24a/a-b/03605-1'}
  .col-md-6
    = render partial: 'chat/chat'
