.chat
  - @chat_messages.each do |chat_message|
    = render 'chat/chat_message', chat_message: chat_message

= form_for @chat_message, remote: true do |form|
  .input-group.mb-3
    = form.text_field :message, class: 'form-control'
