.chat
  - @chat_messages.each do |chat_message|
    .chat-message-container
      .row.no-gutters
        .col
          .message-content
            %p.mb-1
              = chat_message.message
            .text-right
              %small
                = chat_message.created_at
= form_for @chat_message, remote: true do |form|
  .input-group.mb-3
    = form.text_field :message, class: 'chat-input'
