.chat {
  background: #d3d3d34d;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  font-size: smaller;
}

.chat-message-container {
  padding: 5px;

  .message-content {
    padding: 5px;
    border-radius: 5px;
    background: lighten(#6c757d, 10%);
    color: white;
  }
}
