.chat {
  border: 1px solid #343a40;
  background: #d3d3d34d;
  height: 66vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  margin-right: 5vh;
}

.chat-input {
  border-top: 0 none;
}

.chat-message-container {
  padding: 5px;

  .message-content {
    padding: 5px;
    border-radius: 5px;
    background: lighten(#6c757d, 10%);
    color: white;
  }

  & + .chat-message-container {
    margin-top: 8px;
  }
}
